.collection{
    background-color: #31b810;
}


.collection-item{
    display: flex;
    position: relative;
    justify-content: flex-start;
}



.collection-item__info{
    position: absolute;
    z-index: 4;
    height: 170px;
    width: 955px;
    background-color: black;
    /* transform: rotate(2.1deg); */
    transform: rotate(-88.13deg ) translate(-42%, -250%);
    display: flex;
    justify-content: center;
    
}
.collection-item__info h3{
    display: flex;
    /* justify-content: stretch; */
    text-align: center;
    /* transform: rotate(-88.13deg ) translate(50%, 50%); */
    
    align-self: flex-end;
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    letter-spacing: 0.14em;
    color: #fff;
    position: relative;
    
}

.collection-item__info--white{
    background-color: #fff;
}
.collection-item__info--white h3{
    color: #000;
}
.collection-item__btn{
    position: absolute;
    left: 220px;
    bottom: 10px;
    z-index: 1;
    width: 242px;
    height: 84px;
    background: linear-gradient(152.97deg, rgba(21, 21, 21, 0.2) 0%, rgba(21, 21, 21, 0) 100%);
    -webkit-backdrop-filter:saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.collection__bottom{
    width: 1920px;
    height: 137px;
    background: #040404;
}