

.button {
    padding: 5px 10px;
    margin-right: 0;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    border: 0;
    outline: none;
    border-radius: 0;
    position: relative;
    margin: 5px;
    background-color: #ffff;
}

.button:last-child {
    margin-right: 0;
}

.button:active {
    bottom: -1px;
}

/* .button_type_all {
} */

/* .button_type_cat {
    background-color: var(--color-white);
}

.button_type_dog {
    background-color: var(--color-white);
}

.button_type_bird {
    background-color: var(--color-white);
} */


.filter__text{
    color: black;
}

.box {
    overflow: hidden;
    transition: 0.5s all;
}


.anime {
    transform: scale(0);
    opacity: 0;
}

.hide {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display:none;
}

.bg-color{
    background: #D9D9D9;
   
}

.hover:hover{
    color: black;
    background: linear-gradient(152.97deg, rgba(21, 21, 21, 0.2) 0%, rgba(21, 21, 21, 0) 100%);
    -webkit-backdrop-filter:saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}


.categories{
    display: flex;
    /* justify-content: space-between; */
    /* height: 6000px; */
    margin: 0 -12px;
    position: relative;
    
}

.categories-menu{
    min-width:300px ;
    max-height: 200px;
    position: sticky;
    top: 150px;
    z-index: 30;
    margin-bottom: 60px;
}
.categories .categories-menu h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #9E9E9E;
}

.dropdown-menu.show{
    display: flex;
    flex-wrap: wrap;
}




@keyframes hide {
    0% {
        visibility: visible;
        height: 200px;
    }

    100% {
        visibility: hidden;
        width: 0;
        height: 0;
        max-width: 0;
        font-size: 0;
        margin: 0;
    }
}




@media screen and (max-width: 1400px){
    .categories{
        flex-direction: column;
        
        
    }

}