.footer{
    position: relative;
    margin-top: 150px;
}
.footer__bg{
    position: relative;
    z-index: 3;
}
.footer__bg-text-position{
    position: relative;
    bottom: -40px;
}
.footer__bottom{
    display: flex;
    align-items: flex-end;
    background-color: #000;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
}

.center{
    justify-self: center;
}

.footer__bottom p{
    margin: 0 15px;
    padding-bottom: 5px;
    position: relative;
    z-index: 5;
    color: #FFFFFF;
}
 .footer-color{
    display: flex;
    background: rgba(21, 21, 21, 0.2);
    -webkit-backdrop-filter:saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
 }
.footer__info{
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    bottom: 40px;
}

.footer__info h4, a{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    /* or 16px */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}


.footer__info-left, .footer__info-right{
    display: flex;
    justify-content: space-between;
}
.footer__info-coop{
    text-align: center;
}

.footer__info ul{
    padding: 15px;
    max-width: 300px;
}


ul> h4{
    margin-bottom: 20px;
}

ul> li{
    margin-bottom: 10px;
}

.footer__info a:hover{
    color: #000;
}
.footer__info a:hover path{
    fill:#000;
}

.footer__info span{
    padding-left: 5px;
}




@media screen and (max-width: 1400px){
    .main{
        padding-top: 30px;
    }
    .categories-menu{
        top: 150px;
    }
}


@media screen and (max-width: 1300px){
    .footer{
        margin-top: 400px;
    }
    .footer__info{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        justify-content: center;
        
    }
    .footer__info-right{
        justify-content: space-evenly;
    }
    
}


@media screen and (max-width: 900px){
    .footer__info{
        max-width: 100%;
        padding: 10px;
        grid-template-columns: max-content max-content;
        grid-template-rows: max-content;
        justify-content: space-between;
        /* backdrop-filter: blur(10px); */
    }
    .footer__info-left{
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: repeat(3, max-content);
    }
    
}

@media screen and (max-width: 750px) {
    .footer{
        margin-top: 800px;
    }
    .footer__info{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        justify-content: center;
    }
    .footer__info-left{
        justify-content: center;
    }
}

@media screen and (max-width: 500px){
    
    .footer__info-right{
        flex-direction: column;
    }
}
